.pokeInfoContainer{

    background: yellow;
    width:90%;
    margin-top: 1%;
    margin-right: 2%;
    margin-left: 2%;
    height: 100%;
    border-radius: 25px;
    line-height: 100px;
}

.pokeNombreContainer{
    background: red;
    display: inline-block;
    width: 33%;
    height: auto;
    font-weight: bold;
    
}

.pokeTipoContainer{
    background: green;
    display: inline-block;
    font-weight: bold;
    width: 33%;
    color:rgb(71, 71, 71);
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    /* border-bottom-right-radius: 25px;
    border-top-right-radius: 25px; */
    
}

.pokeListContainer{
    width: 33%;
    background: blue;
    display: inline-block;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    height: 700%;
}